<!DOCTYPE html>
<html lang="en">
<head>
    <title>Blog - Jooba</title>
    <link rel="stylesheet" href="css/blogStyle.css">
    <%- include('blocks/head.html') -%>
</head>
<body>
    <%- include('blocks/background.html') -%>
    <%- include('blocks/header.html') -%>
    <div class="content">
        <div class="content__container">
            <div class="content__elems">
                <div class="content__elems__text">
                    <h1 class="content__elems__title">
                        Блог від Jooba!
                    </h1>
                    <p class="content__elems__subtitle">
                        Найцікавіші та найкорисніші<br>
                        новини від Jooba в цьому<br>
                        блозі!
                    </p>
                </div>
                <div class="content__elems__menu">
                    <a href="" class="content__elems__menu__text elem1">
                        Публікації
                    </a>
                    <a href="" class="content__elems__menu__text elem2">
                        Новини
                    </a>
                    <a href="" class="content__elems__menu__text elem3">
                        Статті
                    </a>
                </div>
                <div class="content__elems__posts">
                    <div class="content__elems__posts__post">
                        <img class="content__elems__posts__post__image" src="img/img.png" alt="">
                        <div class="content__elems__posts__post__info">
                            <p class="content__elems__posts__post__info__date in1">
                                30.07.2021
                            </p>
                            <p class="content__elems__posts__post__info__type in1">
                                Новини
                            </p>
                        </div>
                        <p class="content__elems__posts__post__text">
                            PPC-реклама для магазину:<br>
                            ТОП-5 рекомендацій
                        </p>
                    </div>
                    <div class="content__elems__posts__post">
                        <img class="content__elems__posts__post__image" src="img/img.png" alt="">
                        <div class="content__elems__posts__post__info">
                            <p class="content__elems__posts__post__info__date in1">
                                30.07.2021
                            </p>
                            <p class="content__elems__posts__post__info__type in1">
                                Новини
                            </p>
                        </div>
                        <p class="content__elems__posts__post__text">
                            PPC-реклама для магазину:<br>
                            ТОП-5 рекомендацій
                        </p>
                    </div>
                    <div class="content__elems__posts__post">
                        <img class="content__elems__posts__post__image" src="img/img.png" alt="">
                        <div class="content__elems__posts__post__info">
                            <p class="content__elems__posts__post__info__date in1">
                                30.07.2021
                            </p>
                            <p class="content__elems__posts__post__info__type in1">
                                Новини
                            </p>
                        </div>
                        <p class="content__elems__posts__post__text">
                            PPC-реклама для магазину:<br>
                            ТОП-5 рекомендацій
                        </p>
                    </div>
                    <div class="content__elems__posts__post">
                        <img class="content__elems__posts__post__image" src="img/img.png" alt="">
                        <div class="content__elems__posts__post__info">
                            <p class="content__elems__posts__post__info__date in1">
                                30.07.2021
                            </p>
                            <p class="content__elems__posts__post__info__type in1">
                                Новини
                            </p>
                        </div>
                        <p class="content__elems__posts__post__text">
                            PPC-реклама для магазину:<br>
                            ТОП-5 рекомендацій
                        </p>
                    </div>
                    <div class="content__elems__posts__post">
                        <img class="content__elems__posts__post__image" src="img/img.png" alt="">
                        <div class="content__elems__posts__post__info">
                            <p class="content__elems__posts__post__info__date in1">
                                30.07.2021
                            </p>
                            <p class="content__elems__posts__post__info__type in1">
                                Новини
                            </p>
                        </div>
                        <p class="content__elems__posts__post__text">
                            PPC-реклама для магазину:<br>
                            ТОП-5 рекомендацій
                        </p>
                    </div>
                    <div class="content__elems__posts__post">
                        <img class="content__elems__posts__post__image" src="img/img.png" alt="">
                        <div class="content__elems__posts__post__info">
                            <p class="content__elems__posts__post__info__date in1">
                                30.07.2021
                            </p>
                            <p class="content__elems__posts__post__info__type in1">
                                Новини
                            </p>
                        </div>
                        <p class="content__elems__posts__post__text">
                            PPC-реклама для магазину:<br>
                            ТОП-5 рекомендацій
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('blocks/footer.html') -%>
    <script src="js/script.js"></script>
</body>
</html>