<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login - Jooba</title>
    <link rel="stylesheet" href="css/loginRegistrationStyle.css">
    <%- include('blocks/head.html') -%>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<style>
    .header__account__cabinet {
        display: none;
    }

    .header__account__start {
        position: unset;
        width: 100%;
    }

    .header__account__start:hover {
        box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.4);
    }
</style>
<script>
    $(document).ready(() => {
        $("form").submit((event) => {
            event.preventDefault();
            $.ajax({
                type: 'POST',
                url: '/login',
                data: $('form').serialize(),
                dataType: "json",
                success: (response) => {
                    if(response.Code === "200") window.location.href = "/user/" + response.login;
                    if(response.Code === "100")
                    {
                        document.getElementById('main__err').innerHTML = 'Неправильний логін або пароль';
                        document.querySelector('.content__form__main__btn').style.marginTop = "12px";
                    }
                },
                error: (err) => {
                    console.log(err);
                }
            })
        });
    });
</script>
<body>
    <%- include('blocks/header.html') -%>
    <div class="container">
        <div class="content__form">
            <p class="content__form__title">
                Вхід
            </p>
            <form class="content__form__main">
                    <input class="content__form__main__input" oninput="clearType()" name="login" type="text" placeholder="Логін або номер телефону" required>
                    <input class="content__form__main__input" oninput="clearType()" name="password" type="text" placeholder="Пароль" required>
                    <p class="content__form__main__err" id="main__err">&nbsp;</p>
                    <button class="content__form__main__btn" value="Увійти">
                        Увійти
                    </button>
            </form>
        </div>
    </div>
    <script src="js/script.js"></script>
    <script>
        function clearType(){
            let clearText = document.getElementById("main__err");
            clearText.innerHTML = '&nbsp;';
            document.querySelector('.content__form__main__btn').style.marginTop = "0";
        }
    </script>
</body>
</html>