<!DOCTYPE html>
<html lang="en">
<head>
    <title>Registration - Jooba</title>
    <link rel="stylesheet" href="css/loginRegistrationStyle.css">
    <%- include('blocks/head.html') -%>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<style>
    .header__account__start {
        display: none;
    }

    .header__account__cabinet {
        width: 100%;
    }
</style>
<script>
    $(document).ready(() => {
        $("form").submit((event) => {
            event.preventDefault();
            $.ajax({
                type: 'POST',
                url: '/register',
                data: $('form').serialize(),
                dataType: "json",
                success: (response) => {
                    switch (response.Code){
                        case "101":
                            document.getElementById("err__phoneNumber").style.display = "block";
                            break;
                        case "102":
                            document.getElementById("err__email").style.display = "block";
                            break;
                        case "103":
                            document.getElementById("err__companyName").style.display = "block";
                            break;
                        case "104":
                            document.getElementById("err__brandName").style.display = "block";
                            break;
                        case "200":
                            $('form')[0].reset();
                            window.location.href = "/user/" + response.ID;
                            break;
                    }
                }
            })
        });
    });
</script>
<body>
    <%- include('blocks/header.html') -%>
    <div class="container">
        <div class="content__form">
            <p class="content__form__title">
                Реєстрація
            </p>
            <form class="content__form__main">
                <input class="content__form__main__input" name="name" type="text" placeholder="Ваше ім’я" required>
                <input class="content__form__main__input" name="surname" type="text" placeholder="Ваше прізвище" required>
                <input class="content__form__main__input" oninput="clearType('companyName')" name="companyName" type="text" placeholder="Назва компанії" required>
                <p class="content__form__main__err" id="err__companyName" style="display: none">Така компанія існує!</p>
                <input class="content__form__main__input" oninput="clearType('brandName')" name="brandName" type="text" placeholder="Назва бренду" required>
                <p class="content__form__main__err" id="err__brandName" style="display: none">Такий бренд існує!</p>
                <input class="content__form__main__input" oninput="clearType('email')" name="email" type="email" placeholder="E-mail" required>
                <p class="content__form__main__err" id="err__email" style="display: none">Такий e-mail зареєстрований!</p>
                <input class="content__form__main__input" oninput="clearType('phone')" name="phoneNumber" type="text" placeholder="Телефон" required>
                <p class="content__form__main__err" id="err__phoneNumber" style="display: none">Такий телефон зареєстрований!</p>
                <input class="content__form__main__input" name="password" type="password" placeholder="Пароль" required>
                <p class="content__form__main__err" id="err__password" style="display: none">Помилка вводу</p>
                <div class="content__form__main__elem__check">
                    <label class="content__form__main__access__label">
                        <input class="content__form__main__access__checkbox" type="checkbox" required>
                        Я погоджуюсь з правилами та договором оферти
                    </label>
                </div>
                <button class="content__form__main__btn"  value="Зареєструватися">
                    Зареєструватися
                </button>
            </form>
        </div>
    </div>
</div>
    <script src="js/script.js"></script>
    <script>
        function clearType(type){
            let email = document.getElementById("err__email");
            let companyName = document.getElementById("err__companyName");
            let brandName = document.getElementById("err__brandName");
            let phone = document.getElementById("err__phoneNumber");
            switch (type) {
                case "email":
                    email.style.display = "none";
                    break;
                case "companyName":
                    companyName.style.display = "none";
                    break;
                case "brandName":
                    brandName.style.display = "none";
                    break;
                case "phone":
                    phone.style.display = "none";
                    break;
            }
        }
    </script>
</body>
</html>