<!DOCTYPE html>
<html lang="en">
<head>
    <title>Suppliers - Jooba</title>
    <link rel="stylesheet" href="css/suppliersStyle.css">
    <%- include('blocks/head.html') -%>
</head>
<body>
    <%- include('blocks/background.html') -%>
    <%- include('blocks/header.html') -%>
    <div class="content">
        <div class="text_title">
            <h1>Jooba допоможе Вам!</h1>
            <table class="block">
                <tr>
                    <td>500</td>
                    <td>активних<br>покупців</td>
                </tr>
                <tr>
                    <td>70%</td>
                    <td>ТОП<br>покупців</td>
                </tr>
            </table>
        </div>
        <div class="main">
            <h1>Як це працює <br>для покупців?</h1>
            <div class="blocks_list">
                <table>
                    <tr>
                        <td>1. Реєстрація</td>
                        <td>2. ДЕМО доступ</td>
                    </tr>
                    <tr>
                        <td>3. Зручні фільтри</td>
                        <td>4. Картки товарів</td>
                    </tr>
                    <tr>
                        <td>5. Тарифний пакет</td>
                        <td>6. Замовлення клієнтів</td>
                    </tr>
                    <tr>
                        <td>7. Постачальник<br>приймає замовлення</td>
                        <td>8. Комісія за замовлення</td>
                    </tr>
                </table>
            </div>

            <div class="advantages">
                <h1>Чому саме переваги Jooba?</h1>
                <h1>Переваги</h1>
                <ol>
                    <li>Suppliers will have the ability to sell overseas</li>
                    <li>Widen their businesses</li>
                    <li>Receive foreign currency</li>
                </ol>
            </div>

            <div class="tariffs">
                <h1>Тарифи</h1>
                <table>
                    <tr>
                        <td></td>
                        <td>Begginer</td>
                        <td>Basic</td>
                        <td>Pro</td>
                    </tr>
                    <tr>
                        <td>Jooba recommendations and instructions</td>
                        <td>➕</td>
                        <td>➕</td>
                        <td>➕</td>
                    </tr>
                    <tr>
                        <td>Instructions for promotion of goods</td>
                        <td>➕</td>
                        <td>➕</td>
                        <td>➕</td>
                    </tr>
                    <tr>
                        <td>Opportunity to unload goods to yourself</td>
                        <td>1 000</td>
                        <td>300 000</td>
                        <td>∞</td>
                    </tr>
                    <tr>
                        <td>Additional cabinets for export of goods</td>
                        <td>➖</td>
                        <td>3</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>Creation of files for export of goods in csv, yml, xml formats</td>
                        <td>➕</td>
                        <td>➕</td>
                        <td>➕</td>
                    </tr>
                    <tr>
                        <td>Broadcasting the commission</td>
                        <td>2 times/mon</td>
                        <td>4 times/mon</td>
                        <td>4 times/mon</td>
                    </tr>
                    <tr>
                        <td>Your personal manager</td>
                        <td>➖</td>
                        <td>➕</td>
                        <td>➕</td>
                    </tr>
                    <tr>
                        <td>Maximum quantity of goods in yml - 50 000 sku</td>
                        <td>➖</td>
                        <td>➕</td>
                        <td>➕</td>
                    </tr>
                    <tr>
                        <td>Publication of posts in the Jooba news feed</td>
                        <td>➖</td>
                        <td>➕</td>
                        <td>➕</td>
                    </tr>
                    <tr>
                        <td>Selections of top products and suppliers with the highest rating</td>
                        <td>➖</td>
                        <td>➕</td>
                        <td>➕</td>
                    </tr>
                    <tr>
                        <td>Automatic update of goods cards (prices, availability, content)</td>
                        <td>➕</td>
                        <td>➕</td>
                        <td>➕</td>
                    </tr>
                    <tr>
                        <td>Communication with suppliers in order chat</td>
                        <td>➕</td>
                        <td>➕</td>
                        <td>➕</td>
                    </tr>
                    <tr>
                        <td>API for stores</td>
                        <td>➖</td>
                        <td>➖</td>
                        <td>➕</td>
                    </tr>
                    <tr>
                        <td>Auto synchronization of orders with prom</td>
                        <td>➖</td>
                        <td>➖</td>
                        <td>➕</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </table>
            </div>

            <div class="application">
                <h1>Заявка</h1>
                <form>
                    <input placeholder="Ім'я"><br>
                    <input placeholder="Телефон"><br>
                    <input placeholder="E-mail"><br>
                    <button class="btn-send">Відправити</button>
                </form>
            </div>
        </div>
    </div>
    <%- include('blocks/footer.html') -%>
    <script src="js/script.js"></script>
</body>
</html>