<!DOCTYPE html>
<html lang="en">
<head>
    <title>Vacancies - Jooba</title>
    <link rel="stylesheet" href="css/contactAndVacanciesStyle.css">
    <%- include('blocks/head.html') -%>
</head>
<body>
    <%- include('blocks/background.html') -%>
    <%- include('blocks/header.html') -%>
    <div class="content">
        <div class="content__container">
            <div class="content__elems">
                <div class="content__elems__text">
                    <h1 class="content__elems__title">
                        Вакансії
                    </h1>
                    <p class="content__elems__subtitle">
                        Бажаєте стати частиною<br>
                        нашої комнади?<br>
                        Jooba завжди шукає<br>
                        талановитих<br>
                        фахіфвців!
                    </p>
                </div>
                <div class="content__elems__contactEdit">
                    <p class="content__elems__contact__title">
                        Вакансія<br>
                        для<br>
                        Account managers
                    </p>
                    <p class="content__elems__contact__info">
                        Цікавить вакансія? <br>
                        Зв’яжися з нами!
                    </p>
                </div>
                <div class="content__elems__form">
                    <p class="content__elems__form__title">
                        Зв’язок з Jooba!
                    </p>
                    <form class="content__elems__form__main" action="">
                        <input class="content__elems__form__main__input" type="text" placeholder="Ім’я">
                        <input class="content__elems__form__main__input" type="text" placeholder="Телефон">
                        <input class="content__elems__form__main__input" type="text" placeholder="E-mail">
                        <a class="content__elems__form__main__btn" href="">
                            Відправити
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <%- include('blocks/footer.html') -%>
    <script src="js/script.js"></script>
</body>
</html>