<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= companyName %> - Jooba</title>
    <link rel="stylesheet" href="../css/userStyle/userStyle.css">
    <link rel="stylesheet" href="../css/userStyle/goodsStyle.css">
</head>
<body>
<div class="wrapper">
    <div class="content">
        <div class="content__menu">
            <div class="content__menu__company-info">
                <img class="content__menu__company-info__img" src="../img/star.jpg" alt="">
                <div class="content__menu__company-info__names">
                    <p>Company:</p>
                    <p>Brand:</p>
                </div>
                <div class="content__menu__company-info__names">
                    <p><%= companyName %></p>
                    <p><%= brandName %></p>
                </div>
            </div>
            <div class="content__menu__logout">
                <a class="content__menu__logout__btn" href="/logout">Вийти з акаунту</a>
            </div>
            <div class="content__menu__line"></div>
            <a class="content__menu__button" href="/basket">
                <img class="content__menu__button__img" src="../img/star.jpg" alt="">
                <p class="content__menu__button__text">
                    Кошик
                </p>
            </a>
            <a class="content__menu__button" href="/order">
                <img class="content__menu__button__img" src="../img/star.jpg" alt="">
                <p class="content__menu__button__text">
                    Замовлення
                </p>
            </a>
            <a class="content__menu__button" href="/balance">
                <img class="content__menu__button__img" src="../img/star.jpg" alt="">
                <p class="content__menu__button__text">
                    Баланс
                </p>
            </a>
            <a class="content__menu__button" href="/myGoods">
                <img class="content__menu__button__img" src="../img/star.jpg" alt="">
                <p class="content__menu__button__text">
                    Мої товари
                </p>
            </a>
            <a class="content__menu__button" href="/setsOfGoods">
                <img class="content__menu__button__img" src="../img/star.jpg" alt="">
                <p class="content__menu__button__text">
                    Набори товарів
                </p>
            </a>
            <a class="content__menu__button" href="/allGoods">
                <img class="content__menu__button__img" src="../img/star.jpg" alt="">
                <p class="content__menu__button__text">
                    Всі товари
                </p>
            </a>
            <a class="content__menu__button" href="/suppliersUser">
                <img class="content__menu__button__img" src="../img/star.jpg" alt="">
                <p class="content__menu__button__text">
                    Постачальники
                </p>
            </a>
            <a class="content__menu__button" href="/newsFeed">
                <img class="content__menu__button__img" src="../img/star.jpg" alt="">
                <p class="content__menu__button__text">
                    Стрічка новин
                </p>
            </a>
            <a class="content__menu__button" href="/information">
                <img class="content__menu__button__img" src="../img/star.jpg" alt="">
                <p class="content__menu__button__text">
                    Інформація
                </p>
            </a>
            <div class="content__menu__balance">
                <p class="content__menu__balance__title">Баланс</p>
                <p class="content__menu__balance__text"><span class="content__menu__balance__text__money">0.00</span>грн</p>
            </div>
        </div>
        <div class="content__info">
            <div class="content__info__title">
                <h1 class="content__info__title__text">Товар - "Назва товару"</h1>
            </div>
            <div class="content__info__main">
                <div class="content__info__main__top">
                    <img class="content__info__main__goods-img" src="../img/star.jpg" alt="">
                    <div class="content__info__main__text">
                        <h2 class="content__info__main__text__title">Назва товару</h2>
                        <p class="content__info__main__text__subtitle">Доступ</p>
                    </div>
                </div>
                <div class="content__info__main__main">
                    <div>
                        <p>userLogin</p>
                        <p>userIdI</p>
                        <p>goodsId</p>
                        <p>availableI</p>
                        <p>nameI</p>
                        <p>priceI</p>
                        <p>currencyIdI</p>
                    </div>
                    <div>
                        <p>categoryIdI</p>
                        <p>vendorI</p>
                        <p>vendorCodeI</p>
                        <p>sizeI</p>
                        <p>colorI</p>
                        <p>materialI</p>
                        <p>picturesI</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../js/script.js"></script>
</body>
</html>