body {
    background-color: #E0673A;
}

.container__a {
    display: grid;
    grid-template-columns: 75% 20% 5%;
    max-width: 1200px;
    margin: 0 auto;
}

.header__account__start__log {
    padding-right: 2px;
    text-align: center;
    margin: auto 0;
    width: 100%;
    border-radius: 25px;
    height: 30px;
    color: white;
    line-height: 180%;
    background-color: #00D9AF;
    border: 2px solid #999999;
    transition: 0.3s;
}

.header__account__start__log:hover {
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.4);
    transition: 0.3s;
}

.header__info__img__a:hover ~ .header__info__window {
    display: block;
}

.container {
    display: grid;
    grid-template-columns: 90% 10%;
    max-width: 1200px;
    margin: 0 auto;
}

.navigation {
    z-index: 0;
}

.content__form {
    display: grid;
    grid-template-rows: 30% 70%;
    color: white;
    z-index: -1;
}

.content__form__title {
    font-size: 3em;
    text-align: center;
}

.content__form__main {
    display: grid;
    grid-row-gap: 25px;
    grid-template-rows: repeat(2, 25%) 9% 25%;
}

.content__form__main__input {
    width: 30%;
    border-radius: 50px;
    outline: none;
    margin: 0 auto;
    padding-left: 30px;
    font-size: 1.5em;
    color: #414141;
    height: 50px;
}

.content__form__main__err {
    width: 30%;
    height: 10px;
    margin: 3px auto 0 auto;
    font-size: 1.2em;
}

.content__form__main__btn {
    background-color: #00D9AF;
    width: 20%;
    color: white;
    margin: 0 auto;
    text-align: center;
    height: 40px;
    border: 2px solid #008269;
    border-radius: 25px;
    font-size: 1.5em;
    cursor: pointer;
    transition: 0.3s;
}

.content__form__main__btn:hover {
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.4);
    transition: 0.3s;
}